<div class="banner-img-block clearfix">
  <img src="./images/Border/selvin-escape-velocity.jpg" alt="Banner Home: 1" class="banner-img banner-img-1" width="280">
  <img src="./images/Border/ramesh-parallelism.jpg" alt="Banner Home: 2" class="banner-img banner-img-2" width="280">
  <img src="./images/Border/jason-photon.jpg" alt="Banner Home: 3" class="banner-img banner-img-3" width="280">
</div>

<!--
<text-angular name="htmlcontent" ng-model="htmlcontent" ta-text-editor-class="form-content" ta-html-editor-class="form-content" ta-focussed-class="focussed" ta-toolbar-button-class="btn btn-default btn-sm"></text-angular>
<text-angular name="htmlcontent2" ng-model="htmlcontent2" ta-text-editor-class="form-content" ta-html-editor-class="form-content" ta-focussed-class="focussed" ta-toolbar-button-class="btn btn-default btn-sm"></text-angular>
-->


